.btn{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: .1s;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    &:before{
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        animation: moveLine 4s infinite;
        left: -2vw;
        width: 2vw;
        height: 100%;
        background-color: rgba(#fff, 0.8);
        transform: translateX(-4vw) skewX(-45deg);
        transition: 2s;
    }
}

@keyframes moveLine{
    from{
        transform: translateX(-4vw) skewX(-45deg);
    }
    
    to{
        transform: translateX(100vw) skewX(-45deg);
    }
}

@media all and(max-width: 550px){
    .btn {
        &:before {
            width: 20px;
        }
    }
}