.page{
    position: relative; // Для того что бы абсолютно позиционированные элементы не ужимались на маленьких экранах
    min-width: 320px;
    font-family: @Montserrat,
    sans-serif;
    font-weight: @fw-medium; 
    font-size: @d-fz-4-1;
    line-height: 1.3;
    color: rgba(30, 34, 29, 255);
    background-color: #1e221d;
}

h1, h2, h3{
    // font-weight: @fw-bold;
}

p, span, a{
    font-weight: @fw-medium; 
}

b{
    font-weight: @fw-bold; 
}

@media all and (max-width: 650px) {
    .page{
        &__title {
            &:before {
                height: 80vw;
                background-size: 500px 116vw;
            }

            &:after {
                height: 80vw;
            }
        }
    }
}

@media all and (max-width: 550px) {
    .page {
        &__title {
            &:before {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-image: url(../img/bg-3.jpg);
                border-bottom-left-radius: 0;
                background-position: -100px;
            }

            &:after {
                display: none;
            }
        }
    }
}