@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBook'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: @fw-norm;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
       url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
       font-weight: @fw-medium;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: @fw-bold;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: @fw-e-bold;
  font-style: normal;
  font-display: swap;
}